C:\Users\ELCOT\Desktop\CAMERA INCIDENT PROJ\backend\__pycache__
C:\Users\ELCOT\Desktop\CAMERA INCIDENT PROJ\backend\aienv
C:\Users\ELCOT\Desktop\CAMERA INCIDENT PROJ\backend\.env
C:\Users\ELCOT\Desktop\CAMERA INCIDENT PROJ\frontend\node_modules